body{
    font-family: 'Pretendard Variable';
    letter-spacing: -0.1px;
    background-color: lightblue;
}

.layout{
    width: 720px;
    max-width: 390px;
    margin: 0 auto;
    background-color: white;
    min-height: 100vh;
}